[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "soiltexture"]
	path = soiltexture
	url = https://github.com/julienmoeys/soiltexture
	subdir = pkg/soiltexture
